<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1 {
            text-align: center;
            color: green;
        }
    </style>
</head>
<body>
<h1 align="center">Добре дошли в супермаркет Лудогорец!</h1>
<h2></h2>
<h2 align="center">Влез като:</h2>
<div align="center">
    <a th:href="@{/menu/customer}"><button type="button" class="btn btn-primary">Клиент</button></a>
    <a th:href="@{/menu/employee}"><button type="button" class="btn btn-primary">Служител</button></a>
</div>
<!--<div  th:if="${customer.roleId == 1}">-->

<!--&lt;!&ndash;    <a th:href="@{/home(param1='value1',param2='value2')}">&ndash;&gt;-->

<!--</div>-->
<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
    <input type="submit" value="Logout" />
</form>
</body>
</html>