<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/customer/products/category}" method="post">
    <h1 align="center">Търсене на продукт по категория:</h1>
    <div class="form-group" align="center">
        <label>Категория</label>
        <select id="type" name="type">
            <option th:value="food">Храна</option>
            <option th:value="drink">Напитки</option>
            <option th:value="makeup">Гримове</option>
            <option th:value="sanitary">Санитария</option>
            <option th:value="accessory">Аксесоари</option>
            <option th:value="decoration">Декорация</option>
            <option th:value="other">Други</option>
        </select>
        <button type="submit" class="btn btn-primary">Търси</button>
    </div>
    <div th:if="${isAvailable == true}">
        <details>
            <summary>Продукт</summary>
            <ul th:each="product : ${products}">
                <li th:text="${product.name}"></li>
                <li th:text="${product.color}"></li>
                <li th:text="${product.price}"></li>
                <li th:text="${product.quantity}"></li>
                <li th:text="${product.description}"></li>
            </ul>
        </details>
    </div>
</form>
</body>
</html>